{% extends "base/main.html"%}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Home</a>
</div>

<div class="card-body-task">

    <div id="task-detail">
    <p>
    <h1>Task Name: {{task|title}}</h1>  <!--#customized object in views.py-->
    <h3>Description: {{task.description|title}}</h3>
    <h4>Complete: 
        {% if task.complete %}
        <span>Yes</span>
        {% else %}
        <span>No</span>
        {% endif %}
    </h4>
    <h6>Created: {{task.created}}</h6>
    <a class="update-link" href="{% url 'task-update' task.id %}">Edit</a>&nbsp;&nbsp;&nbsp;
    <a class="delete-link" href="{% url 'task-delete' task.id %}">Delete</a>
    </p>
    </div>
    
    <div id="task-img">
    {% if task.header_image %}
    <img src="{{task.header_image.url}}">
    {% else %}
    <p>Image Not Availabe.</p>
    {% endif %}
    </div>

</div>

{% endblock content %}